
body {
    margin:0;
    background-color: #68cdd5;
}

.acs {
    text-align: center;
    margin-top: 50px;
}

.asd {
    margin-left: 40px;
    margin-top: 80px;
    float: left;
    text-align: center;
}

.zxc {
    margin-top: 2px;
    margin-left: 2px;
}

.qwe {
    margin-right: 40px;
    margin-top: 80px;
    float: right;
   text-align: center;
}

p {
    color: white;
    /* font-family: "宋体", sans-serif; */
    font-size: 15px;
    line-height: 1.5em;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
}
.box1{
    color:white;
    font-size: 6px;
   
}
.box{
    color:white;
    font-size: 6px;
   
}

.back {
    width: 30px;
}
.tupian{
    width:120px;
}
.tupian2{
    width:40px;
}

