body{
    background-color:#eff0f4;
    margin:0;
    min-width: 320px;
}
header{
    background-color:#68cdd5;
    width:100%;
    height:50px;
    text-align:center;
    line-height:50px;
}
.first{
    color:white;
    position:absolute;
    top:-5px;
    left:12px;
    text-decoration:none;
}
.second{
    color:white;
    display:inline-block;
}
.third{
    color:white;
    position:absolute;
    top:-5px;
    right:2px;
    text-decoration:none;  
}
.box1{
    background-color:white;
    margin-top:15px;
    height:60px;
    vertical-align:middle;
}
.box2{
    display:inline-block;
    vertical-align:middle;
}
.box2 img{
    margin-left:20px;
    height:30px;  
}
.flag{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
} 
.box1 input{
   margin-left:80px;
   outline:none;
   border:none;
   margin-bottom:22.5px;
} 
.vertical{
    display:inline-block;
    width:0;
    border-left:2px solid #e1e5e7;
    height:40px;
    position:relative;
    top:10px;
    left:30px;
} 
.top{
    margin-top:10px;
}
button{
    font-size:15px;
    color:white;
    border:none;
    background-color:#68cdd5;
    width:100%;
    height:50px;
    padding:0px;
    margin-top:10px;
    outline:none;
}
a{
    color:#68cdd5;
    float:right;
    margin-top:5px;
    margin-right:10px;
}