body{
    margin:0;
}
header{
    background-color:blue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    height:60px;
}
.head>a{
    color:white;
    text-decoration: none;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    padding:17px;
    height:60px;
    display:inline-block;
}
header span{
    margin-left:5%;
}
.phone{
    
}
.head{
    margin-right:5%;
}
.head>a:hover{
    background:#fff;
    color:black;
}
.box1{
    background:#f9f9f9;
    height:80px;
    display:flex;
    align-items: center;
}
.box1>div{
    position: absolute;
    right:5%;
}
.box1>div>button{
    padding:3px;
    margin-left:20px;
    background:white;
    box-shadow:1px 1px 1px #e6e6e6;
    border:1px solid transparent;
    border-radius: 4px;
}
.box1>div>button:hover{
    background-color:blue;
    color:white;
}
.step2{
    margin-left:-8px;
}
.step3{
    margin-left:-8px;
}
.step4{
    margin-left:-8px;
    margin-right:5%;
}
.step-type{
    display:flex;
    justify-content: flex-end;
}
.step1>p{
    text-align: center;
}
.step2>p{
    text-align: center;
}
.step3>p{
    text-align: center;
}
.step4>p{
    text-align: center;
}
.step1:hover span{
    background:orange;
}
.step1:hover p{
    color:orange;
}
.step2:hover span{
    background:orange;
}
.step2:hover p{
    color:orange;
}
.step3:hover span{
    background:orange;
}
.step3:hover p{
    color:orange;
}
.step4:hover span{
    background:orange;
}
.step4:hover p{
    color:orange;
}

.box3{
    display:flex;
    justify-content: center;
    align-items: center;
}
.line1{
    width:120px;
    height:4px;
    background-color:#999;
    display:inline-block;
    margin-bottom:4px;
}
.line2{
    width:120px;
    height:4px;
    background-color:#999;
    display:inline-block;
    margin-bottom:4px;
}
.circle{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color:#999;
    display:inline-block;
    text-align: center;
    line-height: 20px;
    margin-left:-75px;
}
.circle2{
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color:#999;
    display:inline-block;
    text-align: center;
    line-height: 20px;
    margin-left:-73px;
}
.box2{
    width:100%;
}
.step1{
    display:inline-block;
    padding:0;
}
.step2{
    display:inline-block;
    padding:0;
}
.step3{
    display:inline-block;
    padding:0;
}
.step4{
    display:inline-block;
    padding:0;
}
.box4{
    margin-top:20px;
    margin-left:5%;
    margin-bottom:20px;
}
.content{
    width:90%;
    margin-left:5%;
}
.one{
    display:flex;
    align-items: center;
    height:40px;
    background:#e6e6e6;
}
.one>img{
    margin-left:10px;
}
.one>span{
    margin-left:10px;
}
.type-box{
    display:inline-block;
}
.btn-group{
    display:inline-block;
    position: absolute;;
    right:5%;
    top:10px;
}
.box3{
    background:#fbfcff;
    width:90%;
    margin-left:5%;
    position: relative;
    padding:20px 0;
}
.word{
    background:#fbfcff!important;
    color:#999!important;
    border-color:#999;
}
.btn{
    padding:2px 5px;
}
.border{
    border:1px solid #999;
}
.box5{
    background:#fbfcff;
    width:90%;
    margin-left:5%;
    position: relative;
    padding:20px 0;
}
.box-type{
    max-width:30px;
    height:20px;
}
.input-type{
    margin-bottom:10px;
}
.box6{
    background:#fbfcff;
    width:90%;
    margin-left:5%;
    position: relative;
    padding:20px 0;
}
.box9{
    width:100;
    margin-top:100px;
    margin-bottom:100px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.next{
    background-color:red;
    color:white;
    width:150px;
    height:50px;
    border-radius: 5px;
    border:1px solid red;
}
input[type=radio]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    outline: none;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top:4px;
}
input[type=radio]:checked+ label:after{
    background-color:blue;
    border-radius:100%;
    content:"";
    position: absolute;
    left: 17px;
    top: 6px;
    display:inline-block;
    height:12px;
    margin:2px;
    width:12px
}
.out[type=radio]:checked+ .out1:after{
    background-color:blue;
    border-radius:100%;
    content:"";
    position: absolute;
    left: 27px;
    top:26px;
    display:inline-block;
    height:12px;
    margin:2px;
    width:12px
}
.in[type=radio]:checked+ .in1:after{
    background-color:blue;
    border-radius:100%;
    content:"";
    position: absolute;
    left: 27px;
    top:60px;
    display:inline-block;
    height:12px;
    margin:2px;
    width:12px
}
select{
    position: absolute;
    right: 0.1rem;
    top: 50%;
    width:100px;
    color:#999;
    height:30px;;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(shape.jpg) no-repeat right;
    padding: 0px 0.4rem 0 0.2rem;
    background-position: 100% 50%;
}
.one span{
    color:blue;
}
@media screen and (max-width: 530px){
   .phone{
       font-size:5px;
   }
   .head a{
       font-size:5px;
   }
   .box1 button{
    font-size:5px;
   }
   .line1{
    width:60px;
    height:2px;
    background-color:#999;
    display:inline-block;
    margin-bottom:4px;
   }
   .line2{
    width:60px;
    height:2px;
    background-color:#999;
    display:inline-block;
    margin-bottom:4px;
   }
   .circle{
    width:15px;
    height:15px;
    border-radius: 50%;
    background-color:#999;
    display:inline-block;
    text-align: center;
    line-height: 13px;
    margin-left:-37.5px;
}
   .circle2{
    width:15px;
    height:15px;
    border-radius: 50%;
    background-color:#999;
    display:inline-block;
    text-align: center;
    line-height: 13px;
    margin-left:-37.5px;
   }
   .step1 p{
       font-size:3px;
   }
   .step2 p{
    font-size:3px;
}
.step3 p{
    font-size:3px;
}
.step4 p{
    font-size:3px;
}
}
footer{
    background-color:#fbfcff;
    width:100%;
    margin:0;
    
    margin-top:50px;
}
.foot4{
    display:flex;
    justify-content:space-around;;
    align-items:center;
   
}
.box4{
    padding-top:20px;
}
.box4 p{
    padding-bottom:20px;
}
.foot span{
    background-color:#fff;
    padding-left:1px;
    height:5px;
    margin:0 5px;
}
.last{
    text-align:center;
    background:blue;
    color:#fff;
    height:50px;
}
.box1 li{
    list-style: none;
}
.phone span{
    width:5px;
    height:5px;
    border-radius: 50%;
    background-color:#999;
    display:inline-block;
}
.box4 a{
    
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
.qrcode:hover{
    border:2px solid #999;
}
.qrcode{
    box-sizing: border-box;
    width:90px;
}
.navbar-toggler{
    margin-right:10%;
}
.navbar-nav{
    margin-left:auto;
    margin-right:10%;
}
.bg-dark{
    background-color:#29b078!important;
}
.nav-link{
    text-align: center;
}