

    div{
        background-color:orange;
        width: 30%;
        padding-top: 15%;
        padding-bottom: 15%;
        float:left;
        margin-left:2%;
        margin-top:2%;
        border-radius: 10px;

    }
